/* Vars:
  ========================================================================== */

// Font
$mainFont                    : 'Roboto Mono';

$mainFontSize                : 18px;

// Size
$desktopWidth                : 1280px;
$smDesktopWidth              : 1024px;
$tableWidth                  : 768px;
$smTableWidth                : 640px;
$smPhoneWidth                : 320px;
$phoneWidth                  : 480px;

// Main color
$color-button-main          : #FFFFFF;
$color-button-active        : #F6F6F6;
$color-button-hover         : #FAFAFA;