@import "utils/fonts.scss";
@import "utils/mixins.scss";
@import "utils/vars.scss";

body {
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 800;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
    max-width: 695px;
    height: 300px;
    font-weight: 800;
}

.keyboard {
    max-width: 695px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px 0.13%;
    justify-content: space-between;

    div {
        width: 5.8%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        transition: all 0.3s;

        &.active {
            background-color: red;
        }

        &#Backspace {
            width: 17.8%;
        }
        &#Tab, &#Delete {
            width: 8.7%;
        }
        &#CapsLock {
            width: 11.68%;
        }
        &#Enter {
            width: 18.2%;
        }
        &#ShiftRight, &#ShiftLeft{
            width: 14.9%;
        }
        &#ControlRight, &#ControlLeft {
            width: 8.5%;
        }
        &#Space {
            width: 43.6%;
        }

    }
}