
@import "preloader.scss";
@import "utils/fonts.scss";
@import "utils/mixins.scss";
@import "utils/vars.scss";


body {
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 800;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: 100%;
}

textarea {
    resize: none;
    max-width: 695px;
    height: 300px;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    outline: none;

    border: 1px solid rgba(0, 0, 0, 0.2);

    &::placeholder{
        font-family: $mainFont;
        font-weight: 100;
        color: #191a1a;
    }
}

.keyboard {
    max-width: 695px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px 0.13%;
    justify-content: space-between;
    overflow: hidden;

    div {
        width: 5.8%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(100px);
        transition: all 0.2s ease-in-out;
        border: 1px solid transparent;
        cursor: default;
        z-index: 10;

        &.active, &:hover.active {
            box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
            z-index: 1;
            animation: pulse 0.5s infinite;
            background-color: rgba(255, 255, 255, 0.9);
            border-color: transparent;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
            border-color: #fff;
        }

        &#Backspace {
            width: 17.8%;
        }

        &#Tab,
        &#Delete {
            width: 8.7%;
        }

        &#CapsLock {
            width: 11.68%;
        }

        &#Enter {
            width: 18.2%;
        }

        &#ShiftRight,
        &#ShiftLeft {
            width: 14.9%;
        }

        &#ControlRight,
        &#ControlLeft {
            width: 8.5%;
        }

        &#Space {
            width: 43.6%;
        }

    }
}

@keyframes pulse{
	0%{ box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);}
}